{% extends "layout.html" %}
{% block body %}
<form method="post" class="flex-col items-start md:px-14 px-8 w-[92vw] md:w-full justify-start text-left py-11 rounded-[30px] shadow-md dark:bg-[#252c43] dark:text-slate-200 bg-[#f9f9f9]"">
    {{form.hidden_tag()}}
    <div id="current_password" class="flex justify-between my-3 fllex">
        <span>{{form.current_password.label(class="text-sm md:text-base")}} :</span>
        <span>{{form.current_password(class="px-3 py-2 ml-3 text-sm rounded-lg shadow-lg dark:bg-[#3a4568]")}}</span>
    </div>
    {% if form.current_password.errors %}
        {% for error in form.current_password.errors %}
            <span class="text-sm text-red-400">{{error}}</span>
        {% endfor %}
    {% else %}
    {% endif %}
    <div id="new_password" class="flex justify-between my-3 fllex">
        <span>{{form.new_password.label(class="text-sm md:text-base")}} :</span>
        <span>{{form.new_password(class="px-3 py-2 ml-3 text-sm rounded-lg shadow-lg dark:bg-[#3a4568]")}}</span>
    </div>
    {% if form.new_password.errors %}
        {% for error in form.new_password.errors %}
            <span class="text-sm text-red-400">{{error}}</span>
        {% endfor %}
    {% else %}
    {% endif %}
    <div id="confirm_password" class="flex justify-between my-3 fllex">
        <span>{{form.confirm_password.label(class="text-sm md:text-base")}} :</span>
        <span>{{form.confirm_password(class="px-3 py-2 ml-3 text-sm rounded-lg shadow-lg dark:bg-[#3a4568]")}}</span>
    </div>
    {% if form.confirm_password.errors %}
        {% for error in form.confirm_password.errors %}
            <span class="text-sm text-red-400">{{error}}</span>
        {% endfor %}
    {% else %}
    {% endif %}
    <div class="flex justify-center">
        <span>{{form.submit(class="px-5 py-2 ml-3 text-sm text-white bg-blue-400 rounded-lg shadow-lg dark:bg-blue-500 ")}}</span>
        <span><a href="{{url_for('auth.dashboard')}}" class="inline-block px-5 py-2 ml-3 text-sm text-center text-white bg-blue-400 rounded-lg shadow-lg dark:bg-blue-500 ">Cancel</a></span>
    </div>
</form>
{% endblock %}